<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="configurationName" value="Model_1"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="192.168.1.139"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <intAttribute key="fpIndex" value="3"/>
    <intAttribute key="maxHeapSize" value="25"/>
    <stringAttribute key="modelBehaviorInit" value="Init"/>
    <stringAttribute key="modelBehaviorNext" value="Next"/>
    <stringAttribute key="modelBehaviorSpec" value=""/>
    <intAttribute key="modelBehaviorSpecType" value="2"/>
    <stringAttribute key="modelBehaviorVars" value="location, register, permission"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="true"/>
    <listAttribute key="modelCorrectnessInvariants"/>
    <listAttribute key="modelCorrectnessProperties"/>
    <intAttribute key="modelEditorOpenTabs" value="10"/>
    <stringAttribute key="modelExpressionEval" value=""/>
    <stringAttribute key="modelParameterActionConstraint" value=""/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="Buildings;;{&quot;B1&quot;, &quot;B2&quot;, &quot;B3&quot; };0;0"/>
        <listEntry value="People;;{ &quot;p1&quot;, &quot;p2&quot;, &quot;p3&quot; };0;0"/>
    </listAttribute>
    <stringAttribute key="modelParameterContraint" value=""/>
    <listAttribute key="modelParameterDefinitions">
        <listEntry value="outside;;outside;1;0"/>
    </listAttribute>
    <stringAttribute key="modelParameterModelValues" value="{}"/>
    <stringAttribute key="modelParameterNewDefinitions" value=""/>
    <intAttribute key="modelVersion" value="20191005"/>
    <intAttribute key="numberOfWorkers" value="3"/>
    <stringAttribute key="result.mail.address" value=""/>
    <stringAttribute key="specName" value="building"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
</launchConfiguration>
